:root {
  --ion-color-primary: #123c4a;
  --ion-color-primary-rgb: 18, 60, 74;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0f3440;
  --ion-color-primary-tint: #255262;

  --ion-color-secondary: #f27a5e;
  --ion-color-secondary-rgb: 242, 122, 94;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d66b53;
  --ion-color-secondary-tint: #f4876e;
}

body {
  --ion-background-color: #ffffff;
  --ion-text-color: #17242b;
}
