:root {
  --ion-color-primary: #123C4F;
  --ion-color-primary-rgb: 18, 60, 79;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0f3543;
  --ion-color-primary-tint: #2a5061;

  --ion-color-secondary: #2EC4B6;
  --ion-color-secondary-rgb: 46, 196, 182;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #28ada0;
  --ion-color-secondary-tint: #43cab9;
}

body {
  --ion-background-color: #ffffff;
  --ion-text-color: #17242b;
}
