:root {
  --ion-color-primary: #123C4F;
  --ion-color-primary-rgb: 18, 60, 79;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0f3543;
  --ion-color-primary-tint: #2a5061;

  --ion-color-secondary: #F27A5E;
  --ion-color-secondary-rgb: 242, 122, 94;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d85f46;
  --ion-color-secondary-tint: #ff7e5f;
}

body {
  --ion-background-color: #ffffff;
  --ion-text-color: #17242b;
}
